body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar{
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #4D63A1;
  padding-top: 1px;
  padding-bottom: 1px;
}

.menubar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  padding-left: 40%;
  padding-right: 40%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.text__tt{
  text-align: center;
  margin-bottom:  20px;
  font-family:'Times New Roman', Times, serif;
  font-size: 22pt;
  color: blue;
}

hr {
  display: block;
  unicode-bidi: isolate;
  width: 90px;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  border-color: rgb(77, 99, 161);
}

.content{
  display: flex;
  flex-direction: column;
}

.section1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 50px;
  font-family:'Times New Roman', Times, serif;
  font-size: 14pt;
  /* background-color: #717171; */
}

.section__content{
  display: flex;
  align-items: center;
  text-align: justify;
  margin-right: 30px;
}

.slideshow__container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top:30px;
}

.slides{
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev, .next {
  background-color: rgba(0,0,0,0.8);
}  

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-bottom: 30px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.movie{
  text-align: center;
  padding-top:20px;
  padding-bottom: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.external__link{
  display: flex;
  flex-direction: row; 
  margin-top: 30px;
  margin-bottom: 50px;
  background-color: #5D73B0;
}

.image__{
  margin-left: 15%;
  padding-top:20px;
  padding-bottom: 20px;
  padding-right: 30px;
}

.link__{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.text__ss{
  padding-left: 30px;
  font-weight: bold;
  font-size:1.5cm;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.ss{
  padding-right: 10%;
  padding-bottom: 10px;
  font-size:16pt;
  font-family: Helvetica;
  color: white;
}

.text__contact{
  text-align: center;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  margin: 20px;
}

.input__contact{
  width: 600px;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left:20px;
  padding-right: 20px;
  padding-top:5px;
  padding-bottom: 5px;
  border: solid 1pt;
  color: black;
  font-size: 100%;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;  
}

#message{
  width: 600px;
  height: 150px;
}

.submit__contact{
  width: 70px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 5px;
  font-weight: bold;
  color: black;
  border-color: #787878 !important;
}

form{
  text-align: center;
}

.footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;  
  background-color: #e8eaeb ;
  padding-top: 25px;
  padding-bottom: 50px;
  margin-top:80px;
}

.l{
  padding-left: 40px;
  padding-right:40px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}


.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.chat-popup {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

@media screen and (max-width: 1000px){
  .section1{
    display: flex;
    flex-direction: column-reverse;
  }
  .section__image{
    padding-bottom: 40px;
  }
  .external__link{
    display: flex;
    flex-direction: column;
  }  
  .link__{
    padding-left: 15%;
    padding-bottom: 60px;
  }
}