html{
  scroll-behavior: smooth;
}
body{
  margin:0;  
  font-family: 'Fira Code', monospace;
  position: relative;
  width:100%;
  min-height: 150vh;
  background: #636360;
}
nav{
  position:fixed;
  width: 250px;
  height: 100%;
  background: #f1f1f1;
  display: flex;
  border-right: 1px solid rgba(0,0,0,0.1);
  z-index: 1000;
  transition: ease-in-out 0.6s;
  padding-top:40px;
}
nav.hide{
  width: 0;
  display: block;
}

nav ul{
  width: auto;
  list-style: none;
  overflow:  hidden;
  padding-inline-start: 20px;
}
nav ul li a{
  width: 100%;
  color: #1e90ff;
  font-size: 1.2em;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  padding: 15px;
  transition: linear 0.5s;
}
nav ul li a:hover{
  background: #1e90ff;
  color: white;
}


.navbar{
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #4D63A1;
  padding-top: 1px;
  padding-bottom: 1px;
}
.content{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 250px;
  width: calc(100%-250px);
  min-height: 100vh;
  display: flex;
  transition: ease-in-out 0.5s;
}
.content.expand{
  width: 100%;
  left:0;
}
nav .toggle__menu{
  position: absolute;
  top:60px;
  right: -46px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  transition: linear 0.2s;
}

nav .toggle__menu:hover{
  background: #1e90ff;
}

.text__tt{
  text-align: center;
  padding-top:20px;
  margin-bottom:  20px;
  /* font-family:'Times New Roman', Times, serif; */
  font-size: 22pt;
  color: rgb(213, 213, 248);
}

hr {
  display: block;
  unicode-bidi: isolate;
  width: 90px;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
}


.section1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 50px;
  /* font-family:'Times New Roman', Times, serif; */
  font-size: 14pt;
}

.section__content{
  display: flex;
  text-align: justify;
  margin-right: 30px;
  color: #f1f1f1;
}

#container{
  overflow-y: scroll;
}

.slideshow__container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top:30px;
}

.slides{
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev, .next {
  background-color: rgba(0,0,0,0.8);
}  

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-bottom: 30px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.movie{
  text-align: center;
  padding-top:20px;
  padding-bottom: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.external__link{
  display: flex;
  flex-direction: row; 
  align-items: flex-start;
  margin-top: 30px;
  margin-bottom: 50px;
  background-color: #5D73B0;
}

.image__{
  margin-left: 15%;
  padding-top:20px;
  padding-bottom: 20px;
  padding-right: 30px;
  margin-right: 20px;
}

.link__{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 80px;
  padding-top: 30px;
}
.text__ss{
  padding-left: 30px;
  font-weight: bold;
  font-size:1.5cm;
  /* font-family: 'Times New Roman', Times, serif; */
  color: white;
}

.ss{
  padding-right: 10%;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size:16pt;
  /* font-family: Helvetica; */
  color: white;
}

.text__contact{
  text-align: center;
  font-size: 20px;
  /* font-family: 'Times New Roman', Times, serif; */
  margin: 20px;
}

.input__contact{
  width: 600px;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left:20px;
  padding-right: 20px;
  padding-top:5px;
  padding-bottom: 5px;
  border: solid 0.25pt;
  border-radius: 2pt;
  color: black;
  /* font-family:'Times New Roman', Times, serif; */
  font-size: 13pt;
}

/* #message{
  width: 600px;
  height: 150px;
  word-wrap: break-word;
  word-break: keep-all;
} */

/* .submit__contact{
  width: 70px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 5px;
  font-weight: bold;
  color: black;
  border-color: #787878 !important;
} */

form{
  text-align: center;
}
.send {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#4a79af, #388af0);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 18px;
  height: 44px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  padding-top: 10px;
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.send:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
  opacity: .85;
}

.send:active {
  outline: 0;
}

.send:focus {
  box-shadow: rgba(77, 102, 212, 0.5) 0 0 0 3px;
}

@media (max-width: 420px) {
  .send {
    height: 48px;
  }
}
.footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;  
  background-color: #e8eaeb ;
  padding-top: 25px;
  padding-bottom: 50px;
  margin-top:80px;
}

.text2{
  font-size: 22pt;
  font-family: Brush Script MT;
  color: blue;
}
.fb{
  padding-left: 40px;
  padding-right:40px;
}
@-webkit-keyframes my {
  0% { color: blue; } 
  50% { color: rgb(116, 183, 238);  } 
  100% { color: blue;  } 
}
@-moz-keyframes my { 
  0% { color: blue;  } 
  50% { color: rgb(116, 183, 238)f;  }
  100% { color: blue;  } 
}
@-o-keyframes my { 
  0% { color: blue; } 
  50% { color: rgb(116, 183, 238); } 
  100% { color: blue;  } 
}
@keyframes my { 
  0% { color: blue;  } 
  50% { color: rgb(116, 183, 238);  }
  100% { color: blue;  } 
} 
.text2 {
  /* background:#3d3d3d; */
  font-size:24px;
  font-weight:bold;
  -webkit-animation: my 1000ms infinite;
  -moz-animation: my 1000ms infinite; 
  -o-animation: my 1000ms infinite; 
  animation: my 1000ms infinite;
}



/* .open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.chat-popup {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .btn  {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
} */

@media screen and (max-width: 1000px){
  .section1{
    display: flex;
    flex-direction: column-reverse;
  }
  .section__image{
    padding-bottom: 40px;
  }
  .external__link{
    display: flex;
    flex-direction: column;
  }  
  .link__{
    padding-left: 15%;
    padding-bottom: 60px;
    margin-left: 10px;
  }
}

